.labels
{
    -fx-font-size: 40px;
    -fx-font-family: "Arial Black";
}
.table-column
{
    -fx-alignment: CENTER;
}

#grid-pane-border
{
    -fx-border-style: none none solid none;
    -fx-border-color: black;

}